@import "tailwindcss";

@theme {
  --animate-gradient: gradient 2s ease-in-out infinite;
  --animate-menu: menu 1s ease-in-out;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0%;
  }
  50% {
    background-position: 200%;
  }
}

@keyframes menu {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

